
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
   
    font-family: 'Righteous', cursive;
    box-sizing: border-box;
}

#degital{
    position: absolute;
    margin-top: -60px;
    color: rgba(129, 5, 5, 0.932);

}

#main_div{
    display: flex;
    justify-content: center;
    background-color: rgba(129, 5, 5, 0.932);
    width: 200px;
    margin: auto;
    justify-content: space-evenly;
    position: relative;
    padding: 15px;
    border-radius: 10px;
    margin-top: 200px;

    
    
}

span{
color: orangered;

}
#hours, #second, #msec{
   
    width: 40px;
    text-align: center;
    padding: 0px;
    
    
}
.btn{
    margin: auto !important;
    justify-content: space-around;
    justify-content: center;
    align-content: center;
    width: 300px;
    text-align: center;

}

.man{
    
    display: flex;
    width: 180px;
    align-content: center;
    justify-content: center;
    background-color: rgb(240, 228, 234);
    height: 60px;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    text-align: center;

   
    
}
h1{
    text-align: center;
    margin-top: 10px;
}

#stop{
position: absolute;
margin-top: -90px;
margin-left: -15px;
height: 15px;
border: none;
outline: none;
background-color: orangered;
    color: white;
}


#start{
    
    height: 15px;
    border: none;
    outline: none;
    margin-top: -15px;
    margin-right: 0px;
    position: fixed;
    margin-left: -65px;
    background-color: orangered;
    color: white;
}
#reset {
    height: 15px;
    margin-left: 18px;
    margin-top: -15px;
    position: absolute;
    border: none;
    outline: none;
    background-color: orangered;
    color: white;
}
#msec{
    font-size: 16px;
}

#second{
    font-size: 24px;
    margin-top: 25px;
    margin-left: 28px;
    font-style: normal;
}
#hours{
    text-align: center;
    padding-left: 30px;
}

#ganta{
    padding-left: 10px;
}